<ul class="navbar">
    <li class="navbar-header">
        <a href="/"><img alt="Main page" class="logo" src="/assets/img/logo.svg"></a>
        <a class="menu-toggle-button">
            <div class="icon"></div>
        </a>
    </li>
    <li>
        <a href="{% link about/projects.md %}">Projects <img class="dropdown-icon" src="/assets/icons/dropdown.svg"></a>
        <ul class="dropmenu">
            {% include projects.html %}
        </ul>
    </li>
    <li><a href="{% link about/publications.md %}">Publications</a></li>
    <li><a href="{% link about/companies.md %}">For companies</a></li>
    <li><a href="{% link about/about.md %}">About us</a></li>
    <li><a href="{% link about/contacts.md %}">Contacts</a></li>
</ul>
