<!DOCTYPE html>
<html lang="en">
<head>
    {% include google_analytics.html %}
    <link href="/assets/favicon/icon128.png" rel="icon" sizes="128x128" type="image/png">
    <link href="/assets/favicon/icon64.png" rel="icon" sizes="64x64" type="image/png">
    <link href="/assets/favicon/icon32.png" rel="icon" sizes="32x32" type="image/png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link href="/assets/css/common.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/vqmt/vqmt.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/vqmt/interface.js"></script>
</head>
<body>
{% include header.html %}
<div class="content">
    {{ content }}
</div>
{% include footer.html %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: [
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js"
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
      ]
    }
  });
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</body>
</html>
